@media print {

    body {
        padding: 20px;
    }

    header, input, select, textarea, section.map {
        display: none;
    }

    table th, table td {
        padding: 3px 5px;
    }

    section.details .location-image {
            display: block;
    }
    section.details .location-map {
        display: none;
    }

    section.shelterimg {
        display: none;
    }

    section.organisation {
        display: none;
    }

    section.shelter-main-image {
        display: block;
        width: 50%;
        height: auto;
        margin: 20px 0;
    }

}