$checkbox-color: $peter-river;
$checkbox-border-color: #CCC;

.checkbox {
    padding-left: 35px;
    line-height: 22px;
    cursor: pointer;

    i {
        cursor: pointer;
        color: $checkbox-border-color;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-color: #FFF;
        border: 1px solid $checkbox-border-color;
        border-radius: 3px;
        text-align: center;
        line-height: 20px;
        margin: 0 !important;
    }
}

input[type="checkbox"]:checked + label.checkbox {
    // width: 21px;
    // height: 22px;
}

input[type="checkbox"]:checked + label.checkbox i {
    background-color: $checkbox-color !important;
    border-color: $checkbox-color !important;
    color: #FFF  !important;
}
