.flexbox {
    @include flexbox;
    @include flex(0 1 auto);
    @include flex-wrap(wrap);
    // @include flex-direction(row);
    // @include flex-wrap(wrap);

    .box {
        @include flex(0 0 100%);
        padding: 0 10px;
        display: inline-block;
        text-align: center;

        @include bp-sm {
            @include flex(1);
        }

        @include bp-sm {
            padding: 0 20px;
        }

        i.head {
            font-size: 3em;
            display: block;
            color: rgba(0,0,0,0.2);
        }

        i.head_no_color {
            font-size: 3em;
            display: block;
        }

        h4 {
            font-size: 1.2em;
            margin: 20px 0;
            font-weight: bold;
        }

        p {
            text-align: left;
            // font-size: 1.1em;
            // line-height: 1.3;
            min-height: 100px;
        }
    }
}