a {
    cursor: pointer;
}

.dropdown {
    display: inline-block;

    .btn {
        font-size: 1em;
    }
}

.dropdown + .dropdown {
    margin-left: 20px;
}


.myform {

    .mygroup {
        margin-bottom: 30px;

        .error {
            display: none;
            color: $red;
            margin-bottom: 5px;
            font-size: 0.8em;
            font-weight: bold;
            letter-spacing: 1px;
        }

        &.myerror {
            input, label, textarea {
                border-color: $red;
            }
            .error {
                display: block;
            }
        }
    }

    label.button {

        // Color Hack:
        select * {
            background-color:#FFF;
            color:#666;
        }

        select {
            @include appearance(none);
            outline: none;
            border: none;
            background-color: transparent;
            margin: 0;
            cursor: pointer;
            color: #666;
            text-decoration: none;
            display: inline-block;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            width: 100%;

            option {
                background-color: #FFF;
                color: #666;
                border: 1px solid #CCC;
            }

            // MS Hack: (hide arrow)
            &::-ms-expand {
                display: none;
            }

            &:hover {
                color: #FFF;
            }

            // padding: 0 8px;
            // width: 100%;
            // line-height: 45px;
            // height: 42px;
            // cursor: pointer;
            // font-weight: bold;
            // color: #555;

        }
    }

    input[type="radio"] {
        @include appearance(none);
    }

    input[type="radio"]:checked + label.option{
        border-color: #425ca9;
    }
}
