header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    z-index: 100;

    nav {

        .home {
            margin-left: 20px;
            color: #333;
            font-weight: 400;

            i {
                line-height: 50px;
                font-size: 1.3em;
                display: inline-block;
                vertical-align: top;
            }

            span {
                line-height: 50px;
                display: inline-block;
                vertical-align: top;
                font-size: 1.1em;
            }
        }

        ul {
            border-top: 1px solid #CCC;
            // float: right;
            // margin-right: 5px;

            > li {
                display: block;
                // margin: 2px;

                > a {
                    cursor: pointer;
                    padding: 0 10px;
                    border: none;
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 0.85em;
                    font-weight: 400;
                    line-height: 40px;

                    &.selected {
                        color: $red;
                    }

                    &:hover {
                        background-color: rgba(0,0,0,0.03);
                    }
                }

                ul.dropdown-menu {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: initial;
                    z-index: 1000;
                    min-width: 160px;
                    padding: 0;
                    margin-top: -1px;
                    font-size: 14px;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    @include border-radius(0);
                    @include box-shadow(0, 6px, 12px, rgba(0,0,0,.175));

                    > li {
                        display: block;

                        > a {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }

    @include bp-sm {
        position: absolute;
        height: 50px;

        nav {
            > ul {
                border-top: none;
                float: right;
                // margin-right: 5px;

                > li {
                    display: inline-block;
                    text-align: left;

                    > a {
                        line-height: 50px;
                    }
                }
            }
        }
    }

    &.landingpage {
        position: absolute;
        color: #FFF;
        border: none;
        background-color: transparent;

        nav {

            .home {
                color: #FFF;
            }
            > ul {
                border-bottom: 1px solid #FFF;

                > li {
                    > a {
                        color: #FFF;

                        &:hover {
                            // color: $red;
                            background-color: rgba(255,255,255,0.1);
                        }
                        // @extend .button;
                        // @extend .button-home;
                    }

                    ul.dropdown-menu {
                        background-color: rgba(255,255,255,0.1);
                        box-shadow: none;
                        border: none;
                        margin-top: 1px;

                        a {
                            color: #FFF;

                            &:hover {
                                background-color: rgba(255,255,255,0.2);
                                // color: #333;
                            }
                        }
                    }
                }
            }
        }

        @include bp-sm {
            nav {
                ul {
                    border-bottom: none;
                }
            }
        }
    }
}

@media print {
    header {
        display: none;
    }
}