main.page {
    @include bp-sm {
        margin-top: 50px;
    }
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.search-wrapper {
    position: relative;
    display: inline-block;

    input {
        padding: 15px 20px;
        font-size: 1.1em;
        line-height: 1.2;
        background-color: #FFF;
        @include border-radius(3px);
        width: 400px;
        padding-left: 50px;
        color: #333;
    }

    &:before {
        @extend .fa;
        position: absolute;
        top: 15px;
        left: 16px;
        content: "\f002";
        color: #333;
        font-size: 1.3em;
        z-index: 100;
    }
}


.map2 {
    height: 200px;
    @extend .cover;
}

.infoboxes {
    text-align: center;

    .infobox {
        display: inline-block;
        width: 200px;
        margin: 0 20px 20px 20px;

        .infobox-title {
            font-weight: bold;
            margin-bottom: 20px;
        }

        .infobox-img {
            height: 140px;
            @extend .cover;
            border: 1px solid #333;
            // box-shadow: 0 0 10px rgba(0,0,0,0.4);
        }

        .infobox-value {

        }
    }
}