.mymodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: #FFF;
    background-color: rgba(255,255,255,0.95);
    overflow: scroll;
    z-index: 200;

    // .swipe {
        // width: 100%;
        // height: 100%;
    // }

    &.mymodal-dark {
        background-color: rgba(0,0,0,0.9);

        .mymodal-close {
            &:after {
                color: #FFF;
                @include text-shadow(0, 0, 20px, #000);
            }
        }
    }

    .content {
        position: relative;
        padding: 50px 50px;
        max-width: 600px;

        .page {
            display: none;
        }

        // &.page1  {.page1 {display: block;}}
        // &.page2  {.page2 {display: block;}}
        // &.page3  {.page3 {display: block;}}
        // &.page4  {.page4 {display: block;}}
        // &.page5  {.page5 {display: block;}}
        // &.page6  {.page6 {display: block;}}
        // &.page7  {.page7 {display: block;}}
        // &.page8  {.page8 {display: block;}}
        // &.page9  {.page9 {display: block;}}
        // &.page10 {.page10 {display: block;}}
        // &.page11 {.page11 {display: block;}}
        // &.page12 {.page12 {display: block;}}
        // &.page13 {.page13 {display: block;}}
        // &.page14 {.page14 {display: block;}}
        // &.page15 {.page15 {display: block;}}
    }

    .mymodal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 300;
        cursor: pointer;

        &:after {
            content: "\f00d";
            @extend .fa;
            font-size: 2em;
            color: #333;
            @include text-shadow(0, 0, 20px, #FFF);
        }
    }

    label.button {
        width: 100%;
    }

    .mylabel {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .myimage {
        height: 200px;
        width: 100%;
        @extend .cover;
        cursor: pointer;
    }

    .myinput {
        input {
            padding: 10px 12px;
            font-size: 18px;
            line-height: 1.2;
            background-color: #FFF;
            @include border-radius(3px);
            border: 1px solid #666;
            width: 100%;
            // margin-bottom: 30px;
            // letter-spacing: 1px;
            font-weight: 300;
            color: #333;
        }
    }

    .mycheckbox {
        max-height: 100px;

        input[type="checkbox"] {
            @include appearance(none);
            display: none;
        }

        a {
            text-decoration: underline !important;
        }
    }

    form.myform label.button {
        width: 100%;
        margin-bottom: 0;

        select {
            width: 100%;
            letter-spacing: 0px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            color: #333;

            &:hover {
                color: #FFF;
            }
        }
    }

    .buttons {
        margin-top: 40px;

        .right {
            float: right;
        }
        // text-align: center;
    }
}

#wrapper.modal-open {
    overflow: hidden;
}


.options {
    text-align: center;
    // @include flexbox;
    // @include flex(0 1 auto);

    .option {
        width: 150px;
        height: 120px;
        margin: 5px;
        display: inline-block;
        border: 3px solid #FFF;
        @extend .cover;
        cursor: pointer;

        &.selected {
            border-color: #425ca9;
            &:hover {
                border-color: #425ca9;
            }
        }

        &:hover {
            border-color: lighten(#425ca9,20%);
        }
        // padding-top: 50%;
        // @include flex(1);
        // display: inline-block;
        // text-align: center;

    }
}

