.swipe {
    position: relative;
    width: 100%;
    height: 100%;

    .panes {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .pane {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            font: bold 60px/250px 'Open Sans', Helvetica, Arial, sans-serif;
            color: #fff;
            @extend .contain;
        }

        &.animate > .pane {
            transition: all .3s;
            -webkit-transition: all .3s;
        }
    }

    .dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 100;

        .dot {
            display:  inline-block;
            width: 22px;
            height: 22px;
            margin: 0 8px;
            background-color: rgba(255,255,255,0.4);
            // border: 1px solid #aaa;
            cursor: pointer;
            // @include box-shadow(0, 0, 20px, #FFF);
            @include border-radius(50%);

            &.selected {
            // background-color: rgba(0,0,0,0.6);
                background-color: #FFF;
            }
        }
    }
}
