table {
    margin: 0 auto 0 auto;
    text-align: left;

    tr {
        th, td {
        }

        th {
            padding: 5px 10px 5px 0;
        }

        td {
            padding: 5px 0px 5px 10px;
            font-weight: bold;

            span.info {
                display: inline-block;
                margin-left: 100px;

                &:before {
                    display: inline-block;
                    text-align: center;
                    line-height: 30px;
                    content: "\f129";
                    @extend .fa;
                    font-size: 18px;
                    color: #CCC;
                    width: 30px;
                    height: 30px;
                    @include border-radius(50%);
                    border: 1px solid #CCC;
                    cursor: pointer;

                }

                &:hover:before {
                    color: #666;
                    background-color: #EEE;
                }
            }
        }
    }
}