// Bootstrap Form Hack

.alert-x {
    position: absolute;
    z-index: 1000;
    max-width: 400px;
    top: 20px;
    left: 50%;
    @include opacity(0.8);
    width: 100%;
    margin-left: -200px;
}

.well {
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    border: none;

    h2 {
        color: #333;
    }

    form {
        label {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .form-control {
            padding: 10px 12px;
            font-size: 18px;
            line-height: 1.2;
            background-color: #FFF;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #666;
            width: 100%;
            font-weight: 300;
            color: #333;
            height: initial;
            margin-bottom: 20px;
        }
    }
}