@include keyframes(bounce) {
    0%, 32%, 52%, 70%, 100% {
        @include transform(translateY(0));
    }
    40%, 60% {
        @include transform(translateY(-5px));
    }
}

section {
    &.first {
        color: #FFF;
        background-color: #303030;
        @extend .cover;
        // @include transition(background 10s linear);
        background-size: 100%;

        .toplayer {
            padding-top: 180px;
        }

        .search {
            position: relative;
            margin-top: 40px;
            display: inline-block;

            .search-wrapper {
                input {
                    font-size: 1em;
                    padding: 12px 20px 12px 50px;
                    @include opacity(0.9);
                }
                &:before {
                    top: 11px;
                }
            }
        }


        p {
            margin: 30px 0;
        }

        .arrow {
            z-index: 100;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;

            .arrow-down {
                width: 30px;
                height: 30px;
                margin: 0 auto;
                cursor: pointer;


                @include animation(bounce 1.5s infinite);

                &:after {
                    @extend .fa;
                    content: "\f063";
                    font-size: 28px;
                }
            }
        }

        @include bp-sm {
            min-height: 570px;
            height: 100vh;

            .toplayer {
                padding-top: 100px;
            }
        }

    }

    &.recentshelters {
        padding: 30px 0 20px 0;
        color: #FFF;
        background-color: #EEE;
        color: #333;

        .recents {
            width: 100%;
            text-align: center;

            .recent {
                display: block;
                margin: 0 20px 20px 20px;

                h4 {
                    // color: #333;
                    font-weight: bold;
                    font-size: 18px;
                    margin: 0 0 10px 0;
                }

                .image {
                    @extend .cover;
                    background-color: #DDD;
                    width: 100%;
                    height: 130px;
                }

                p {
                    margin: 5px 0;
                }

                @include bp-sm {
                    display: inline-block;
                    margin: 0 20px;

                    .image {
                        width: 200px;
                    }
                }

            }
        }
    }

    &.recommendations {
        padding: 50px 0;
        color: #FFF;
        @extend .cover;

        h3 {
            color: #FFF;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            // font-size: 1.1em;
            // line-height: 1.2;
        }
    }

    &.contact {
        padding: 50px 0;
        background-color: #DDD;
        text-align: center;
    }

    &.supported {
        .supporters {
            text-align: center;
            .supporter {
                cursor: pointer;
                display: inline-block;
                margin: 10px;
                width: 170px;
                height: 100px;
                @extend .contain;
                @include opacity(0.4);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include transition(all 0.2s);

                &:hover {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                    @include opacity(1);
                }
            }
        }
    }
}
