section {
    &.knowledge {
        @extend .cover;
        text-align: center;
        min-height: 400px;

        h3 {
            color: #FFF;
        }

        .flexbox {
            .box {
                h4 {
                    color: #FFF;

                }
            }
        }

        a {
            color: #FFF;

            &:hover {
                color: #EEE;
            }
        }

        // .img {
        //     margin: 20px auto;
        //     width: 600px;
        //     height: 400px;
        //     @extend .cover;
        // }

        // .bt {
        //     margin: 30px 0;
        // }
    }
}