section {


    &.shelterimg {
        height: 400px;
        @extend .cover;
        cursor: pointer;

        &:after {
            content: "\f065";
            @extend .fa;
            font-size: 30px;
            color: #FFF;
            @include text-shadow(0, 0, 20px, rgba(0,0,0,0.5));
            position: absolute;
            top: 20px;
            // left: 0;
            right: 20px;
            text-align: center;
            z-index: 100;
        }
    }

    &.shelter-main-image {
        display: none;
    }

    &.shelterheader {
        text-align: center;

        h1 {
            color: #333;
            font-size: 2em;
            margin: 0;
        }
    }

    &.organisation {
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #CCC;

        .orgimage {
            margin: 0 auto;
            @extend .contain;
            width: 300px;
            height: 100px;
        }
    }

    &.details {
        text-align: center;

        &.details-1 {
            background-color: #EEE;
        }

        .detail-label {
            margin-bottom: 20px;
            font-size: 1.2em;
            font-weight: bold;
        }

    }

    .location-image {
        display: none;
    }
    .location-map {
        width: 100%;
        height: 400px;
    }

}